@import "tailwindcss";

:root {
  --background: #cfa37d;
  --foreground: #000000;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  user-select: none;
}

@keyframes rotateEyes {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #b3855e;
  border-radius: 100%;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(192, 141, 102);
}

* {
  scrollbar-width: thin;
  scrollbar-color: #b3855e transparent;
}